.App {
  text-align: center;
  background-color: #DDE7C7;
  height: 100vw;
}

.barChartDiv{
  padding-left: 25%;
  padding-right:25%;
  padding-top: 0%
}

.cocLogo{
  padding-top: 5%;
  padding-bottom: 5%;
}

.teamDropDown{
  padding-left: 45%;
  padding-right:20%;
  padding-top: 3%
}

.inputField{
  padding-top: 2%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #BFD8BD;
  color: grey;
  text-align: center;
}
