.App {
  text-align: center;
  background-color: #DDE7C7;
  height: 100vw;
}

.barChartDiv{
  padding-left: 25%;
  padding-right:25%;
  padding-top: 0%
}

.cocLogo{
  padding-top: 5%;
  padding-bottom: 5%;
}

.teamDropDown{
  padding-top: 3%
}

.inputField{
  padding-top: 1%;
  padding-bottom: 2%;
}

.inputBorder{
  border: 1px solid #BFD8BD;
  border-radius: 25px;
  padding: 6px 12px;
  box-sizing: border-box;
  margin-top:   2%;
  margin-bottom: 16px;
  margin-left: 19%;
  margin-right: 19%;
}

.ideasLeadersTable{
padding-left: 21%;
padding-right: 21%;
padding-top: 2%
}

.buttonSubmit{
  padding-bottom: 2%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #BFD8BD;
  color: grey;
  text-align: center;
}
